$red: #D02E29;
$gray: #f2f2f2;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

body {
    font-family: 'Lato', sans-serif;
}

* {
    padding:0;
    margin:0;
}

h1 {
    color: #111;
    font-family: "Playfair display", sans-serif;
}

h2 {
    color: #222;
    font-family: "Playfair display", sans-serif;
}

h3 {
    color: #333;
    font-family: "Playfair display", sans-serif;
}

.spacer-small {
    height: 50px;
    width: 100%;
}

.spacer-large {
    height: 140px;
    width: 100%;
}

.navbar {
    position: fixed;
    margin-left: 4.5%;
    margin-top: 10vh;
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    a {
        font-size: 18px;
        color: #111;
        font-weight: 700;
        padding-left: 0;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
            color: $red;
            padding-left: 10px;
            padding-bottom: 5px;
        }
    }
}

#domov {
    text-align: center;
    padding-top: 10vh;
    font-family: "Playfair display", sans-serif;
    img {
        max-width: 100%;
        width: 40vw;
        margin-top: 3vh;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 50px;
        font-weight: 500;
    }
}

#o-nas {
    background-color: $gray;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 140px;
    flex-direction: column;

    p {
        padding-top: 100px;
        max-width: 700px;
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 100px;
        font-size: 18px;
    }

    h2 {
        padding-top: 50px;
        font-size: 50px;
        font-weight: 500;
    }
}

#storitve {
    display: flex;
    height:auto;
    
    img {
        max-width: 80%;
    }
    h2 {
        font-size: 70px;
        
    }
    h3 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
    }

    .small {
        flex:0.4;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 10vw;
    }

    .large {
        flex: 0.6;
    }
}

#storitve2 {
    display: flex;
    height:auto;
    
    img {
        max-width: 90%;
        float: right;
    }
    h2 {
        font-size: 70px;
        
    }
    h3 {
        font-size: 35px;
    }
    p {
        font-size: 18px;
    }

    .small {
        flex:0.4;
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 10vw;
    }

    .large {
        flex: 0.6;
    }
}



#moja-pot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: $gray;

    .column {
        flex: 0.5;
    }

    img {
        width: 70%;
        padding-right: 10vw;
        float: right;
    }

    h2 {
        font-size: 35px;
        padding-left: 10vw;
    }

    h3 {
        font-size: 20px;
        padding-left: 10vw;

    }

    p {
        font-size: 18px;
        padding-left: 10vw;
    }
}


#mapid {
    height: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $shadow;
}

#info {
    height:auto;
    
    h1 {
        text-align: center;
        font-size: 60px;
    }

    .contact {
        display: flex;
        width: 70%;
        background-color: $gray;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: $shadow;

        p {
            font-size: 30px;
            text-align: center;
            font-weight: 600;
            i {
                color: $red;
            }
        }

        .small {
            flex: 0.3;
        }

        .big {
            flex: 0.6;
        }
    }
        
}

.footer {
    height: 30vh;
    background-color: #333;
}