body {
  font-family: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #111;
  font-family: "Playfair display", sans-serif;
}

h2 {
  color: #222;
  font-family: "Playfair display", sans-serif;
}

h3 {
  color: #333;
  font-family: "Playfair display", sans-serif;
}

.spacer-small {
  height: 50px;
  width: 100%;
}

.spacer-large {
  height: 140px;
  width: 100%;
}

.navbar {
  position: fixed;
  margin-left: 4.5%;
  margin-top: 10vh;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.navbar a {
  font-size: 18px;
  color: #111;
  font-weight: 700;
  padding-left: 0;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:hover {
  color: #D02E29;
  padding-left: 10px;
  padding-bottom: 5px;
}

#domov {
  text-align: center;
  padding-top: 10vh;
  font-family: "Playfair display", sans-serif;
}

#domov img {
  max-width: 100%;
  width: 40vw;
  margin-top: 3vh;
}

#domov h1 {
  font-size: 70px;
}

#domov h2 {
  font-size: 50px;
  font-weight: 500;
}

#o-nas {
  background-color: #f2f2f2;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 140px;
  margin-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#o-nas p {
  padding-top: 100px;
  max-width: 700px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 100px;
  font-size: 18px;
}

#o-nas h2 {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 500;
}

#storitve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

#storitve img {
  max-width: 80%;
}

#storitve h2 {
  font-size: 70px;
}

#storitve h3 {
  font-size: 35px;
}

#storitve p {
  font-size: 18px;
}

#storitve .small {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 10vw;
}

#storitve .large {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

#storitve2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

#storitve2 img {
  max-width: 90%;
  float: right;
}

#storitve2 h2 {
  font-size: 70px;
}

#storitve2 h3 {
  font-size: 35px;
}

#storitve2 p {
  font-size: 18px;
}

#storitve2 .small {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 10vw;
}

#storitve2 .large {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

#moja-pot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-color: #f2f2f2;
}

#moja-pot .column {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

#moja-pot img {
  width: 70%;
  padding-right: 10vw;
  float: right;
}

#moja-pot h2 {
  font-size: 35px;
  padding-left: 10vw;
}

#moja-pot h3 {
  font-size: 20px;
  padding-left: 10vw;
}

#moja-pot p {
  font-size: 18px;
  padding-left: 10vw;
}

#mapid {
  height: 400px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#info {
  height: auto;
}

#info h1 {
  text-align: center;
  font-size: 60px;
}

#info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#info .contact p {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

#info .contact p i {
  color: #D02E29;
}

#info .contact .small {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

#info .contact .big {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

.footer {
  height: 30vh;
  background-color: #333;
}
/*# sourceMappingURL=style.css.map */